#item {
  padding: 10px;
  display: flex;
  flex-shrink: 0;
  cursor: pointer;
  font-size: 14px;
  min-height: 30px;
  flex-direction: row;
  align-items: center;
  background-color: white;
  border: 1px solid var(--primary);
  border-radius: var(--border-radius);
}

#title {
  font-size: 16px;
}

.highlighted {
  font-family: Nunito Bold !important;
  background-color: var(--light);
}

#price {
  font-family: Nunito Sans Regular;
}
#quantity {
  flex-shrink: 0;
}
