#container {
  padding-top: 10px;
  padding-bottom: 30px;
}

#productTitle {
  font-size: 2rem;
  padding: 0 0.5rem;
  font-family: Nunito Sans Semi Bold;
}

#secondColumn {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

#firstColumn {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.thumbnailImageContainer {
  border: 1px solid var(--border-colour);
  border-radius: var(--border-radius);
  cursor: pointer;
  width: 100%;
}

.thumbnailImageContainer:hover {
  box-shadow: var(--offset-shadow-blue);
}

.selectedThumbnail {
  border: 1px solid var(--primary);
}

#mainImageContainer {
  border: 1px solid var(--border-colour);
  border-radius: var(--border-radius);
  padding-top: 80%;
  position: relative;
}

#callToActionContainer {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

@media only screen and (max-width: 768px) {
  #secondColumn {
    flex-direction: row;
  }
}



