#container {
  overflow-x: auto;
}

/* Hide scrollbar for Chrome, Safari and Opera */
#container::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
#container {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

#inner {
  min-width: 540px;
  position: relative;
}

#slider {
  overflow: hidden;
  border-radius: var(--border-radius);
  border: 1px solid var(--border-colour);
}

#sliderInner {
  width: 100%;
  display: inline-grid;
  transition: transform var(--time) ease;
  grid-template-columns: 25% 25% 25% 25% 25% 25% 25% 25% 25%;
}

.pos1 {
  transform: translateX(-100%);
}

.pos2 {
  transform: translateX(-125%);
}

/* arrow buttons */
.arrow {
  padding: 10px;
  position: absolute;
  border-radius: 15px;
  top: calc(50% - 25px);
}

.left {
  left: 0;
}

.right {
  right: 0;
}
