#container {
  margin-left: auto;
}

/* when open */
.searchOpen {
  flex-basis: 50%;
  margin-left: 0 !important;
}

/* main container */
#searchBar {
  padding: 2px;
  height: 40px;
  display: flex;
  flex-shrink: 0;
  overflow: hidden;
  max-width: 500px;
  background: white;
  border-radius: 15px;
  justify-content: space-between;
  transition: all calc(var(--time) / 2) ease;
}

#searchBar button {
  border-radius: 13px;
  padding-top: 0;
  padding-bottom: 0;
}

#searchBar button:first-child {
  z-index: 1;
}

.searchIcon {
  font-size: 20px;
}

.closeIcon {
  font-size: 14px;
}

/* #searchBar ::placeholder {
  font-size: 15px;
  color: var(--font);
  font-family: Nunito Sans Light;
} */

@media only screen and (min-width: 576px) {
  #searchBar {
    height: 35px;
  }
}

@media only screen and (max-width: 576px) {
  #container {
    margin-left: auto;
  }
}
