#expandedContent {
  border: 1px solid red;
  height: 30vh;
  display: flex;
  gap: 10px;
}

#imageContainer {
  border: 1px solid green;
  position: relative;
  flex-grow: 1;
}

#infoContainer {
  flex-grow: 2;
  border: 1px solid green;
}
