
#basket {
  gap: 10px;
  flex-grow: 1;
  display: flex;
  overflow: auto;
  overflow-x: scroll;
  flex-direction: column;
}

/* Hide scrollbar for Chrome, Safari and Opera */
#basket::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
#basket {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

#emptyBasket {
  color: var(--icon-grey);
}
