#basket {
  overflow: auto;
  overflow-x: scroll;
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 10px;
}

/* Hide scrollbar for Chrome, Safari and Opera */
#basket::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
#basket {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

#emptyBasket {
  color: var(--icon-grey);
}
