#imageContainer {
  position: relative;
  min-height: 400px;
}

#panel {
  position: relative;
}

@media screen and (min-width: 576px) {
  #panel {
    padding-top: 130px;
  }
}

#wedge {
  top: -49px;
  right: 0px;
  position: absolute;
  border-top: 50px solid transparent;
  background-color: #004568;
}

@media screen and (min-width: 576px) {
  #wedge {
    bottom: 0;
    right: -79px;
    border-left: 80px solid #004568;
    border-bottom: 420px solid transparent;
    border-top: 0;
    top: initial;
  }
}
