#imageContainer {
  position: relative;
  min-height: 400px;
}

#panel {
  position: relative;
}

@media screen and (min-width: 576px) {
  #panel {
    padding-top: 130px;
  }
}

#wedge {
  top: -50px;
  right: 0px;
  position: absolute;
  border-top: 50px solid transparent;
  border-left: 567px solid #003049; 
}

@media screen and (min-width: 576px) {
  #wedge {
    bottom: 0;
    right: -80px;
    border-left: 80px solid #003049;
    border-bottom: 420px solid transparent;
    border-top: 0;
    top: initial;
  }
}