#container {
  margin: 10vw auto;
  position: relative;
}

.label {
  position: absolute;
  font-size: clamp(0.6rem, 2vw, 1rem);
}

@media screen and (min-width: 576px) {
  #container {
    width: calc(100% - 20vw);
  }
}
