#item {
  display: flex;
  padding: 10px;
  flex-shrink: 0;
  cursor: pointer;
  font-size: 14px;
  min-height: 30px;
  flex-direction: row;
  align-items: center;
  margin-bottom: 10px;
  background-color: white;
  justify-content: space-between;
  border: 1px solid var(--primary);
  border-radius: var(--border-radius);
}

#item:last-child {
  margin-bottom: 0;
}

#title {
  font-size: 16px;
  flex-grow: 1;
}
#price {
  font-family: Nunito Sans Regular;
}
#quantity {
  flex-shrink: 0;
}
