#container {
  top: 0;
  left: 7%;
  width: 90%;
  height: 90%;
  position: absolute;
  /* border: 1px solid orange; */
}

.imageContainer {
  position: absolute;
  /* background-color: rgba(128, 0, 128, 0.459); */
}

#plugContainer {
  top: 25%;
  width: 11%;
  left: -5.5%;
  height: 50%;
  position: absolute;
  /* background-color: rgba(0, 128, 0, 0.479); */
}

.imageContainer:hover #plugContainer {
  display: none !important;
}

.pointer {
  cursor: pointer;
}
