#logoContainer {
  width: 140px;
  height: 40px;
  flex-shrink: 0;
  cursor: pointer;
  position: relative;
  margin-right: 15px;
}

#tm {
  top: 0;
  right: 0;
  font-size: 8px;
  color: white;
  position: absolute;
  transform: translateX(100%)
}

@media only screen and (min-width: 576px) {

  #logoContainer {
    width: 163px;
    height: 45px;
  }

}