#modalContainer {
  left: 0;
  right: 0;
  top: 65px;
  position: fixed;
}

#modal {
  height: 40px;
  position: relative;
  border-radius: var(--border-radius);
  transition: all var(--time) ease;
}

.modalExpanded {
  box-shadow: var(--modal);
  height: calc(100vh - 140px) !important;
}

#modalInner {
  height: 100%;
  position: relative;
  background: white;
  transition: all var(--time) ease;
  border-radius: var(--border-radius);
}

.modalInnerExpanded {
  padding: 0.5rem;
}



/* indicator arrow */

#dropdownArrowContainer {
  position: absolute;
  top: 0;
  transition: all var(--time) ease;
}

#dropdownArrow {
  position: absolute;
  display: block;
  padding: 7px;
  box-shadow: var(--modal);
  background-color: white;
  transform: translate(-50%, -50%) rotate(45deg);
}

.left {
  left: 20px;
}
.middle {
  left: 50%;
}
.right {
  left: calc(100% - 20px);
}

@media only screen and (max-width: 576px) {
  #modal {
    height: 0;
  }
}
