/* modal container */
#modalContainer {
  left: 0;
  right: 0;
  top: 65px;
  z-index: 1;
  position: fixed;
}





/* modal */
#modal {
  position: relative;
  box-shadow: var(--modal);
  transition: all var(--time) ease;
  border-radius: var(--border-radius);
}

.modalExpanded {
  height: calc(100vh - 75px) !important;
}

.modalCollapsed {
  height: 0 !important;
  box-shadow: none !important;
}




.modalBar {
  height: 43px;
}





/* modal inner */
#modalCover {
  height: 100%;
  padding: 10px;
  position: relative;
  background: white;
  border-radius: var(--border-radius);
  transition: padding var(--time) ease;
}

.noPadding {
  padding: 0 !important;
}

#modalInner {
  height: 100%;
}

.overflowHidden {
  overflow: hidden;
}
