/* modal container */
#modalContainer {
  left: 0;
  right: 0;
  top: 65px;
  position: fixed;
}

/* modal */
#modal {
  height: 50px;
  position: relative;
  box-shadow: var(--modal);
  border-radius: var(--border-radius);
  transition: all var(--time) ease;
}

.modalExpanded {
  height: calc(100vh - 70px) !important;
}

.modalCollapsed {
  height: 0 !important;
  box-shadow: none !important;
}

/* modal inner */
#modalInner {
  gap: 10px;
  height: 100%;
  display: flex;
  padding: 10px;
  position: relative;
  background: white;
  flex-direction: column;
  border-radius: var(--border-radius);
}

.modalInnerCollapsed {
  padding: 0 !important;
}

@media only screen and (max-width: 576px) {
  #modal {
    height: 0;
  }
}
