/* modal container */
#modalContainer {
  left: 0;
  right: 0;
  top: 65px;
  z-index: 1;
  position: fixed;
}

/* modal */
#modal {
  height: 44px;
  position: relative;
  box-shadow: var(--modal);
  border-radius: var(--border-radius);
  transition: all var(--time) ease;
}

.modalExpanded {
  height: calc(100vh - 75px) !important;
}

.modalCollapsed {
  height: 0 !important;
  box-shadow: none !important;
}

/* modal inner */
#modalInner {
  gap: 10px;
  height: 100%;
  padding: 10px;
  display: flex;
  position: relative;
  background: white;
  flex-direction: column;
  border-radius: var(--border-radius);
}

.modalInnerCollapsed {
  padding: 0 !important;
}

