#appContainer {
  overflow: hidden;
}

#mainContentWrapper {
  margin-top: 70px;
  position: relative;
  padding: 20px 0 180px 0;
  min-height: calc(100vh - 70px);
  transition: margin-top var(--time) ease;
}

@media screen and (min-width: 576px) {
  #mainContentWrapper {
    margin-top: 120px;
    min-height: calc(100vh - 120px);
  }
}
