#appContainer {
  overflow: hidden;
}

#mainContentWrapper {
  margin-top: 70px;
  position: relative;
  padding-bottom: 140px;
  background-color: white;
  min-height: calc(100vh - 70px);
  transition: margin-top var(--time) ease;
}

@media screen and (min-width: 576px) {
  #mainContentWrapper {
    margin-top: 120px;
    min-height: calc(100vh - 120px);
  }
}
