#appContainer {
  overflow: hidden;
}

#mainContentWrapper {
  margin-top: 70px; /* offset header */
  min-height: 100vh;
  position: relative;
  padding-bottom: 140px;
  background-color: white;
  transition: padding-top var(--time) ease;
}

@media screen and (min-width: 576px) {
  #mainContentWrapper {
    margin-top: 120px;
  }
}
