#appContainer {
  overflow: hidden;
}

#mainContentWrapper {
  padding-top: 65px; /* offset header */
  position: relative;
  background-color: white;
  min-height: 100vh;
  padding-bottom: calc(170px + 5vw); /* offset footer */
  transition: padding-top var(--time) ease;
}

@media screen and (min-width: 576px) {
  #mainContentWrapper {
    padding-top: 115px; /* offset header */
  }
}
