#navBarContainer {
  height: 30px;
  border-radius: 0.5rem;
  box-shadow: var(--shadow-blue);
  transition: height var(--time) ease;
}

#navBar {
  height: 30px;
  gap: 0.5rem;
  display: flex;
  overflow: auto;
  align-items: center;
  border: 1px solid blue;
  transition: height var(--time) ease;
}

.expanded {
  height: calc(100vh - 130px) !important;
}

#mobileMenu {
  border: 1px solid blue;
  padding: 0.5rem;
}

/* Hide scrollbar for Chrome, Safari and Opera */
#navBar::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
#navBar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

@media screen and (min-width: 576px) {

  #mobileMenu {
    display: none;
  }
}

@media screen and (max-width: 576px) {
  #navBar {
    display: none;
  }
}
