#container {
  height: 60px;
  display: flex;
  margin: 0 -0.75rem 6px -0.75rem;
  align-items: center;
  justify-content: space-between;
  background: var(--dark);
  padding: 0 10px;
  border-bottom: 2px solid var(--primary);
}

@media screen and (min-width: 1200px) {
  #container {
    border-radius: 0 0 10px 10px;
    border-left: 2px solid var(--primary);
    border-right: 2px solid var(--primary);
  }
}
