#container {
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
  height: 60px;
  position: fixed;
  background: var(--dark);
  border-bottom: 2px solid var(--primary);
}

#topBar {
  height: 100%;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
