#mobileMenuContainer {
  width: 100%;
  height: 100%;
  display: flex;
  /* flex-direction: column; */
  /* align-items: center; */
  flex-wrap: wrap;
  align-content: stretch;
  /* position: relative; */
  padding: 0.5rem;
  gap: 0.5rem;
}

#mobileMenuItem {
  flex-grow: 1;
  display: flex;
  cursor: pointer;
  padding: 0.5rem;
  align-items: center;
  justify-content: center;
  transition: box-shadow 0.2s ease-in-out;
  box-shadow: var(--card-box-shadow);
  border-radius: var(--border-radius-large);
  /* border: 1px solid var(--main-colour-light); */
}

#mobileMenuItem:hover {
  box-shadow: var(--hover-box-shadow);
}
