/* container */
#container {
  width: 100%;
  height: 100%;
  display: flex;
  position: absolute;
  flex-direction: column;
}

#item {
  display: flex;
  color: var(--grey);
  padding: 1rem;
  cursor: pointer;
  justify-content: space-between;
  border-radius: var(--border-radius);
}

#item > span {
  color: var(--font);
}

#item:hover {
  color: var(--primary);
  background-color: var(--background-grey);
}
