#container {
  width: 130px;
  height: 35px;
  flex-shrink: 0;
  cursor: pointer;
  position: relative;
}

#tm {
  top: 0;
  right: 0;
  font-size: 8px;
  color: white;
  position: absolute;
  transform: translateX(100%);
}

@media only screen and (min-width: 415px) {
  #container {
    width: 140px;
    height: 40px;
  }
}
