/* modal */
#modal {
  padding: 0;
  height: 63px;
  position: relative;
  box-shadow: var(--modal);
  transition: all var(--time) ease;
  border-radius: var(--border-radius);
}

.modalExpanded {
  height: calc(100vh - 75px) !important;
}

.modalCollapsed {
  height: 0 !important;
  box-shadow: none !important;
}

/* modal inner */
#modalCover {
  height: 100%;
  padding: 10px;
  position: relative;
  background: white;
  border-radius: var(--border-radius);
  transition: padding var(--time) ease;
}

.noPadding {
  padding: 0 !important;
}

#modalInner {
  height: 100%;
  overflow: hidden;
  position: relative;
}
