#container {
  margin-left: auto;
}

.opened {
  flex-basis: 50%;
  margin-left: 0 !important;
}

/* main container */
#searchBar {
  padding: 2px;
  height: 40px;
  display: flex;
  overflow: hidden;
  background: white;
  justify-content: space-between;
  transition: all calc(var(--time) / 2) ease;
}

#searchBar button {
  padding-top: 0;
  padding-bottom: 0;
}

#searchBar button:first-child {
  z-index: 1;
}

.buttonCustom {
  width: 40px;
  padding: 0;
  flex-shrink: 0;
}

.searchIcon {
  font-size: 18px;
}

/* .searchIcon:before {
  transform: translateY(10%);
} */

.closeIcon {
  font-size: 14px;
}

#searchBar ::placeholder {
  font-size: 15px;
  font-family: Nunito Regular;
}

@media only screen and (min-width: 415px) {
  #searchBar {
    height: 35px;
  }
}
/* 
@media only screen and (max-width: 415px) {
  #container {
    margin-left: auto;
  }
}

@media only screen and (min-width: 768px) {
  #container {
    flex-basis: 50%;
  }
} */
