#container {
  margin-left: auto;
}

.opened {
  flex-basis: 50%;
  margin-left: 0 !important;
}

/* main container */
#searchBar {
  padding: 2px;
  height: 40px;
  display: flex;
  overflow: hidden;
  justify-content: space-between;
  /* transition: all calc(var(--time) / 2) ease; */
}

#searchBar button:first-child {
  z-index: 1;
}

.buttonCustom {
  width: 40px;
  height: 100%;
  flex-shrink: 0;
}

.searchIcon {
  font-size: 18px;
}

.closeIcon {
  font-size: 14px;
}

#searchBar ::placeholder {
  font-size: 15px;
  font-family: Nunito Regular;
}

@media only screen and (min-width: 415px) {
  #searchBar {
    height: 35px;
  }
}
