/* main container */
#searchBar {
  padding: 2px;
  height: 40px;
  display: flex;
  overflow: hidden;
  justify-content: space-between;
}

#searchBar button:first-child {
  z-index: 1;
}

.buttonCustom {
  width: 40px;
  height: 100%;
  flex-shrink: 0;
}

.searchIcon {
  font-size: 18px;
}

.closeIcon {
  font-size: 14px;
}

#searchBar ::placeholder {
  font-size: 15px;
  font-family: Nunito Regular;
  color: #56484d;
}

@media only screen and (min-width: 415px) {
  #searchBar {
    height: 35px;
  }
}

/* clears the ‘X’ from Internet Explorer */
.searchInput[type=search]::-ms-clear { display: none; width : 0; height: 0; }
.searchInput[type=search]::-ms-reveal { display: none; width : 0; height: 0; }
/* clears the ‘X’ from Chrome */
.searchInput[type="search"]::-webkit-search-decoration,
.searchInput[type="search"]::-webkit-search-cancel-button,
.searchInput[type="search"]::-webkit-search-results-button,
.searchInput[type="search"]::-webkit-search-results-decoration { display: none; }