#container {
  overflow-x: auto;
}

/* Hide scrollbar for Chrome, Safari and Opera */
#container::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
#container {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

#inner {
  padding: 30px 10px;
  min-width: 540px;
  position: relative;
}

#slider {
  overflow: hidden;
  background-color: white;
  border-radius: var(--border-radius);
  border: 1px solid var(--border-colour);
}

#sliderInner {
  display: inline-grid;
  width: calc(100% + 1px);
  grid-template-columns: repeat(9, 25%);
  transition: transform var(--time) ease;
}

@media screen and (min-width: 1200px) {
  #sliderInner {
    grid-template-columns: repeat(9, 20%);
  }
}

.pos1Large {
  transform: translateX(-100%);
}

.pos1ExtraLarge {
  transform: translateX(-80%);
}

.pos2Large {
  transform: translateX(-125%);
}

/* arrow buttons */
.arrow {
  padding: 10px;
  position: absolute;
  border-radius: 15px;
  top: calc(50% - 25px);
  transition-duration: calc(var(--time) / 2);
  transition-property: border-color, background-color;
}

.arrow:hover {
  border-color: var(--primary);
  background-color: var(--primary);
}
