#burgerIconContainer {
  color: white;
  border: 1px solid yellow;
  height: 40px;
  width: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

#dropdownArrow {
  left: 50%;
  z-index: 1;
  padding: 6px;
  position: absolute;
  top: calc(100% + 4px);
  background-color: white;
  border: 1px solid white;
  transform: translateX(-50%) rotate(45deg);
  border-left: 1px solid var(--border-colour);
  border-top: 1px solid var(--border-colour);
}
