#container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  /* background-color: rgb(192, 255, 222); */

  padding-left: 1vw;
  padding-right: 1vw;
}

.containerDesktop {
  height: 30px !important;
  flex-direction: row !important;
  justify-content: space-between;
}

.item a {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 1.1rem;
  height: 50px;
}

.itemDesktop a {
  display: initial;
  height: 30px;
  line-height: 30px;
  font-size: 1rem;
  white-space: nowrap;
}

.item:a {
  white-space: nowrap;
}

.item a:hover {
  border-bottom: 3px solid #1d9ae2;
  border-top: 3px solid transparent;
}

.item i:before {
  color: #1d9ae2;
  font-weight: bold !important;
  transform: translate(2px, 2px) rotate(270deg);
  transition: transform 0.2s ease;
}

.itemDesktop i:before {
  transform: translate(2px, 2px);
}

.item a:hover i:before {
  transform: translate(2px, 4px);
}
