#container {
  display: flex;
  flex-direction: row;
  align-items: center;
}

#basketContainer {
  position: relative;
}

#basketCount {
  top: 0;
  right: 0;
  padding: 0 0.3rem;
  font-size: 0.9rem;
  position: absolute;
}
