#container {
  position: relative;
}

#mobileScrollReference {
  top: -70px;
  position: absolute;
}

#scrollReference {
  top: -120px;
  position: absolute;
}

#heading {
  cursor: pointer;
  line-height: 2rem;
  text-align: center;
  letter-spacing: 0.1rem;
}

#paragraph {
  line-height: 1.3rem;
  letter-spacing: 0.05rem;
}

.rotate:before {
  transform: rotate(-180deg);
}
