#container {
  top: 5%;
  left: 6%;
  width: 90%;
  height: 90%;
  position: absolute;
}

.imageContainer {
  position: absolute;
  /* background-color: rgba(128, 0, 128, 0.431); */
}

.pointer {
  cursor: pointer;
}
