#container {
  bottom: 0;
  width: 100%;
  position: absolute;
  padding-bottom: 10px;
}

#sectionOne {
  gap: 10px;
  height: 80px;
  display: flex;
  padding: 10px;
  font-size: 16px;
  color: var(--grey);
  margin-bottom: 10px;
  flex-direction: row;
  background: var(--background-grey);
  border-radius: var(--border-radius-large);
}

#tvh {
  font-size: 11px;
  cursor: default;
  padding: 1px 6px;
  line-height: 17px;
  margin-right: auto;
  letter-spacing: 2px;
  align-self: flex-end;
  font-family: Nunito Regular;
  border: 1px solid currentColor;
  border-radius: var(--border-radius);
}

#sectionOne a {
  cursor: pointer;
  align-self: flex-start;
}

#sectionOne a:hover {
  color: var(--primary);
}

#sectionTwo {
  height: 50px;
  display: flex;
  font-size: 12px;
  align-items: center;
  justify-content: center;
  font-family: Nunito Regular;
  background-color: var(--background-grey);
  border-radius: var(--border-radius-large);
}

#cookiePolicy {
  cursor: pointer;
}

#cookiePolicy:hover {
  color: var(--primary);
}
