#container {
  width: 100%;
  bottom: 15px;
  position: absolute;
}

#sectionOne {
  gap: 10px;
  height: 80px;
  display: flex;
  padding: 10px;
  font-size: 16px;
  margin-bottom: 10px;
  flex-direction: row;
  color: var(--icon-grey);

  background: var(--background-grey);
  border-radius: var(--border-radius-large);
}

#tvh {
  cursor: default;
  padding: 1px 6px;
  margin-right: auto;
  letter-spacing: 2px;
  font-size: 15px;
  line-height: 21px;
  align-self: flex-end;
  font-family: Nunito Regular;
  border: 1px solid currentColor;
  border-radius: var(--border-radius);
}

.iconContainer {
  cursor: pointer;
  align-self: flex-start;
}

.iconContainer:hover {
  color: var(--main-colour-light);
}

#sectionTwo {
  height: 50px;
  display: flex;
  font-size: 12px;
  align-items: center;
  justify-content: center;
  font-family: Nunito Regular;
  background-color: var(--background-grey);
  border-radius: var(--border-radius-large);
}

#cookiePolicy {
  cursor: pointer;
}

#cookiePolicy:hover {
  color: var(--main-colour-light);
}
