#container {
  width: 100%;
  bottom: 15px;
  position: absolute;
}

#sectionOne {
  gap: 10px;
  height: 80px;
  display: flex;
  padding: 10px;
  font-size: 16px;
  margin-bottom: 10px;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-end;
  background: var(--background-grey);
  border-radius: var(--border-radius-large);
  
}

.iconContainer {
  cursor: pointer;
  color: var(--icon-grey);
}

.iconContainer:hover {
  color: var(--main-colour-light);
}

#sectionTwo {
  height: 50px;
  display: flex;
  font-size: 12px;
  align-items: center;
  justify-content: center;
  font-family: Nunito Regular;
  background-color: var(--background-grey);
  border-radius: var(--border-radius-large);
}

#cookiePolicy {
  cursor: pointer;
}

#cookiePolicy:hover {
  color: var(--main-colour-light);
}
