#item {
  height: 23px;
  display: flex;
  flex-shrink: 0;
  cursor: pointer;
  font-size: 12px;
  padding: 3px 6px;
  color: var(--dark);
  margin-right: 10px;
  align-items: center;
  justify-content: center;
  background-color: white;
  transition: var(--time) ease;
  border: 1px solid var(--primary);
  font-family: Nunito Sans Regular;
  border-radius: var(--border-radius);
  box-shadow: var(--nav-component-item);
  transition-property: border, box-shadow;
}

#item:last-child {
  margin-right: 0;
}

.currentItem {
  border: 1px solid var(--dark) !important;
  box-shadow: var(--nav-component-item-hover) !important;
}
