.sliderArrow {
  top: 0;
  width: 10%;
  height: 100%;
  display: flex;
  cursor: pointer;
  position: absolute;
  align-items: center;
}

.sliderArrowFaint {
  top: 0;
  width: 10%;
  height: 100%;
  opacity: 0.5;
  display: flex;
  cursor: pointer;
  position: absolute;
  align-items: center;
}

.sliderArrow:hover svg {
  stroke-width: 3;
}

.sliderArrow svg {
  transition: stroke-width calc(var(--time)/2);
}

#leftArrow {
  left: 0;
  justify-content: left;
}

#rightArrow {
  right: 0;
  justify-content: right;
}
