#carouselContainer {
  position: relative;
  padding-top: 42.3%;
  width: 100%;
}

#transporterContainer {
  position: absolute;
  top: 5%;
  left: 5%;
  width: 90%;
  height: 90%;
  display: flex;
  align-items: center;
}

.imageContainer {
  position: absolute;
  cursor: pointer;
}

.imageContainer div {
  transition: all 0.2s;
  display: block !important;
}

.imageContainer:hover div {
  transform: scale(1.1);
}

.wheelContainer {
  position: absolute;
  animation: rotation 2s infinite linear;
}

.wheelContainer div {
  display: block !important;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}
