#container {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  position: absolute;
}

#inner {
  width: 90%;
  height: 90%;
  margin: auto;
  position: relative;
  border-radius: 10vw;
  background-color: white;
  box-shadow: inset 0 0 60px 1px var(--primary);
}


.imageContainer {
  position: absolute;
  cursor: pointer;
}

.imageContainer div {
  transition: all 0.2s;
  display: block !important;
}

.imageInner {
  position: relative;
  height: 100%;
}

.wheelContainer {
  position: absolute;
  animation: rotation 2s infinite linear;
}

.wheelContainer div {
  display: block !important;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}
