#container {
  margin: 0;
  width: 100%;
  display: flex;
  flex-shrink: 0;
  position: absolute;
  flex-direction: row;
  justify-content: space-between;
  padding: 0 10px;
}

.item {
  display: flex;
  cursor: pointer;
  font-size: 16px;
  line-height: 39px;
  color: var(--grey-2);
  align-items: center;
  border-bottom: 4px solid var(--primary);
}

.item:hover {
  line-height: 31px;
  border-bottom: 8px solid var(--primary);
  border-top: 4px solid transparent;
}

.item > svg {
  margin-left: 5px;
  transition: stroke-width calc(var(--time) / 2) ease;
}

.item:hover svg {
  stroke-width: 2px;
  color: var(--primary);
}
