#container {
  margin: 0;
  width: 100%;
  display: flex;
  position: absolute;
  flex-direction: row;
  justify-content: space-between;
  padding: 0 10px;
}

.item {
  line-height: 39px;
}

.item:hover {
  line-height: 29px;
  border-bottom: 8px solid #1d9ae2 !important;
  border-top: 5px solid transparent !important;
}

.item i:before {
  transform: translate(2px, 2px);
}

.item:hover i:before {
  font-weight: bold !important;
}
