#container {
  margin: 0;
  width: 100%;
  display: flex;
  position: absolute;
  flex-direction: row;
  justify-content: space-between;
  padding: 0 10px;
}

.item {
  line-height: 28px;
}

.item:hover {
  border-bottom: 2px solid #1d9ae2 !important;
}

.item i:before {
  color: #1d9ae2;
  font-weight: bold !important;
  transform: translate(2px, 2px);
  transition: transform 0.2s ease;
}

.item:hover i:before {
  transform: translate(2px, 4px);
}
