#inner {
  display: flex;
  height: 40px;
  color: var(--dark);
}

#message {
  flex-grow: 1;
  display: flex;
  cursor: pointer;
  align-items: center;
  justify-content: center;
}

#message span {
  transition: transform var(--time) ease;
}

#message span svg {
  margin-left: 5px;
  transition: stroke-width var(--time) ease;
}

#message:hover span {
  transform: translateX(20%);
}

#message:hover span svg {
  stroke-width: 3px;
}

/* close */

#close {
  width: 40px;
  display: flex;
  cursor: pointer;
  margin-left: 10px;
  align-items: center;
  justify-content: center;
}

#close svg {
  transition: stroke-width var(--time) ease;
}

#close:hover svg {
  stroke-width: 3px;
}
