#inner {
  display: flex;
  height: 40px;
}

#message {
  flex-grow: 1;
  display: flex;
  cursor: pointer;
  align-items: center;
  justify-content: center;
}

#message span {
  transition: transform var(--time) ease;
}

#message:hover span {
  transform: translateX(20%);
}

/* close */

#close {
  width: 40px;
  display: flex;
  cursor: pointer;
  margin-left: 10px;
  align-items: center;
  justify-content: center;
}

#message i:before {
  font-weight: bold !important;
}

#message:hover i:before {
  font-weight: bolder !important;
}

#close:hover i:before {
  font-weight: bolder !important;
}