#container {
  margin: 1rem 0;
  /* set aspect ratio of 1:0.4 */
  padding-top: 43%;
  position: relative;
  border-radius: var(--border-radius-large);
  background: radial-gradient(closest-side, var(--light) 50%, #63c6ff 80%, #0072ad 120%);
}
