#item {
  height: 26px;
  display: flex;
  flex-shrink: 0;
  cursor: pointer;
  font-size: 12px;
  padding: 3px 6px;
  color: var(--dark);
  align-items: center;
  justify-content: center;
  background-color: white;
  transition: var(--time) ease;
  border: 1px solid var(--primary);
  font-family: Nunito Sans Regular;
  border-radius: var(--border-radius);
  box-shadow: var(--nav-component-item);
  transition-property: border, box-shadow;
}

@supports not (gap: 1em) {
  #item {
    margin: 0 0.5rem;
    background-color: red;
  }
}

.currentItem {
  border: 1px solid var(--dark) !important;
  box-shadow: var(--nav-component-item-hover) !important;
}
