#item {
  height: 26px;
  display: flex;
  flex-shrink: 0;
  cursor: pointer;
  font-size: 12px;
  padding: 3px 6px;
  align-items: center;
  justify-content: center;
  background-color: white;
  transition: var(--time) ease;
  color: var(--main-colour-dark);
  font-family: Nunito Sans Regular;
  border-radius: var(--border-radius);
  box-shadow: var(--nav-component-item);
  border: 1px solid var(--main-colour-medium);
  transition-property: border, box-shadow;
}

.currentItem {
  border: 1px solid var(--main-colour-dark) !important;
  box-shadow: var(--nav-component-item-hover) !important;
}
