#item {
  display: flex;
  padding: 10px;
  flex-shrink: 0;
  cursor: pointer;
  min-height: 30px;
  margin-bottom: 10px;
  flex-direction: column;
  justify-content: center;
  background-color: white;
  border: 1px solid var(--primary);
  border-radius: var(--border-radius);
}

#item:last-child {
  margin-bottom: 0;
}
