#item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  cursor: pointer;
  font-size: 14px;
  min-height: 30px;
  padding: 10px;
  border-radius: var(--border-radius);
  border: 1px solid var(--main-colour-medium);
  background-color: white;
  flex-shrink: 0;
  gap: 10px;
}
