#navBarContainer {
  gap: 10px;
  height: 30px;
  display: flex;
  overflow: auto;
  align-items: center;
  /* background-color: pink; */
  justify-content: space-between;
}

/* Hide scrollbar for Chrome, Safari and Opera */
#navBarContainer::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
#navBarContainer {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

#navBarItem {
  flex-shrink: 0;
  font-size: 15px;
  cursor: pointer;
  font-family: Nunito Light;
  transition: color var(--time) ease;
  /* background-color: orange; */
}

#navBarItem:hover {
  color: var(--main-colour-light);
}
