#container {
  height: 23px;
  display: flex;
  font-size: 15px;
  flex-direction: row;
  font-family: Nunito Regular;
  align-items: center;
}

#heading {
  color: var(--grey);
  cursor: pointer;
  transition: color var(--time) ease;
}

#heading:hover {
  color: var(--primary);
}