#container {
  display: grid;
  height: 36px;
  overflow: auto;
  grid-template-columns: repeat(11, 180px);
  grid-gap: 10px;
}

/* Hide scrollbar for Chrome, Safari and Opera */
#container::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
#container {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
