#container {
  margin: 1rem 0;
  cursor: pointer;
}

#heading {
  margin: 0;
  font-size: 1rem;
  line-height: 2rem;
  font-weight: 400;
  text-align: center;
  letter-spacing: 0.1rem;
  border-radius: var(--border-radius);
  background: var(--light);
}

#paragraph {
  margin: 1rem 0;
  font-size: 0.8rem;
  color: var(--grey);
  line-height: 1.3rem;
  letter-spacing: 0.05rem;
}

#arrow {
  transition: transform var(--time) ease;
}

.rotate {
  transform: rotate(-180deg);
}
