#container {
  margin: 1rem 0;
  position: relative;
}

#mobileScrollReference {
  top: -70px;
  position: absolute;
}

#scrollReference {
  top: -120px;
  position: absolute;
}

#heading {
  margin: 0;
  cursor: pointer;
  line-height: 2rem;
  text-align: center;
  letter-spacing: 0.1rem;
  border-radius: var(--border-radius);
  background: var(--light);
}

#paragraph {
  margin: 1rem 0;
  font-size: 0.8rem;
  color: var(--font);
  line-height: 1.3rem;
  letter-spacing: 0.05rem;
}

#arrow {
  transition: transform var(--time) ease;
}

.rotate {
  transform: rotate(-180deg);
}
