/* main container */
#searchBarContainer {
  height: 40px;
  display: flex;
  padding: 0 1px;
  flex-shrink: 0;
  overflow: hidden;
  margin-left: auto;
  flex-direction: row;
  background: white;
  border-radius: 15px;
  align-items: center;
  border: 2px solid var(--primary);
  transition: all calc(var(--time) / 2) ease;
}

/* when open */
.searchOpen {
  flex-grow: 1;
}

/* Buttons */

#searchButton {
  z-index: 1;
  color: white;
  background: var(--primary);
  border: 1px solid var(--primary);
}

#closeButton {
  z-index: 1;
  color: var(--primary);
  background: var(--light);
  border: 1px solid var(--primary);
}

.centeredButton {
  width: 40px;
  height: 34px;
  display: flex;
  flex-shrink: 0;
  cursor: pointer;
  align-items: center;
  border-radius: 12px;
  justify-content: center;
  transition: all calc(var(--time) / 2) ease;
}

/* input */
.searchInput {
  z-index: 0;
  flex-grow: 1;
  height: 100%;
  border: none;
  outline: none;
  flex-shrink: 1;
  background: none;
}

@media only screen and (min-width: 576px) {
  #searchBarContainer {
    height: 30px;
  }

  .centeredButton {
    height: 24px;
  }
}
