/* main container */
#searchBarContainer {
  padding: 2px;
  height: 31px;
  display: flex;
  flex-shrink: 0;
  overflow: hidden;
  max-width: 500px;
  background: white;
  border-radius: 15px;
  justify-content: space-between;
  margin: 0 clamp(0.3rem, 1.5vw, 0.8rem);
  transition: all calc(var(--time) / 2) ease;
}

/* when open */
.searchOpen {
  flex-grow: 1;
}

/* Buttons */
#searchButton {
  z-index: 1;
  width: 40px;
  height: 100%;
  display: flex;
  flex-shrink: 0;
  color: white;
  cursor: pointer;
  border-radius: 13px;
  align-items: center;
  justify-content: center;
  background: var(--primary);
  border: 1px solid var(--primary);
}

#closeButton {
  width: 40px;
  height: 100%;
  display: flex;
  flex-shrink: 0;
  cursor: pointer;
  align-items: center;
  border-radius: 13px;
  color: var(--primary);
  justify-content: center;
  background: var(--light);
  border: 1px solid var(--primary);
}

/* input */
.searchInput {
  z-index: 0;
  width: 100%;
  height: 100%;
  border: none;
  outline: none;
  margin: 0 4px;
  background: none;
}

@media only screen and (min-width: 576px) {
  #searchBarContainer {
    height: 26px;
  }
}

@media only screen and (min-width: 992px) {
  #searchBarContainer {
    margin: 0 auto;
  }
}
