#imageContainer {
  /* z-index: -1; */
  position: relative;
  min-height: 400px;
}

#panel {
  color: white;
  position: relative;
  background-color: var(--dark);
}

@media screen and (min-width: 576px) {
  #panel {
    padding-top: 120px;
  }
}

.wedge {
  top: -50px;
  right: 0px;
  position: absolute;
  border-left: 576px solid var(--dark);
  border-top: 50px solid transparent;
}

@media screen and (min-width: 576px) {
  .wedge {
    bottom: 0;
    right: -79px;
    position: absolute;
    border-left: 80px solid var(--dark);
    border-bottom: 420px solid transparent;
    border-top: 0;
    top: initial;
  }
}