#container {
  top: 0;
  z-index: 1;
  width: 100%;
  position: fixed;
}

#header {
  overflow: hidden;
}

#navContainer {
  height: 60px;
  display: flex;
  position: relative;
  align-items: center;
  justify-content: space-between;
}

#searchContainer {
  margin-left: auto;
}

@media screen and (min-width: 912px) {
  #searchContainer {
    margin-left: 0;
    flex-basis: 50%;
  }
}

.centered {
  margin-left: 0 !important;
}

.flexGrow {
  flex-grow: 1;
}

#circle {
  top: -140px;
  right: -140px;
  width: 280px;
  height: 280px;
  /* opacity: 0.5; */
  position: absolute;
  border-radius: 140px;
}

@media only screen and (min-width: 912px) {
  #circle {
    width: 305px;
  }
}

#searchBarContainer {
  height: 0;
  position: relative;
  transition-property: height, padding-top;
  transition-duration: var(--time);
}

.opened {
  padding-top: 4px;
  height: 48px !important;
}

@media only screen and (min-width: 415px) {
  .opened {
    height: 43px !important;
  }
}