#container {
  top: 0;
  z-index: 1;
  width: 100%;
  position: fixed;
}

#navContainer {
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#searchContainer {
  margin-left: auto;
}

@media screen and (min-width: 912px) {
  #searchContainer {
    margin-left: 0;
    flex-basis: 50%;
  }
}

.centered {
  margin-left: 0 !important;
}

.flexGrow {
  flex-grow: 1;
}
