#container {
  gap: 10px;
  display: flex;
  overflow: auto;
  flex-direction: column;
  height: calc(100% - 36px);
  /* background-color: lawngreen; */
}

/* Hide scrollbar for Chrome, Safari and Opera */
#container::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
#container {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
