#container {
  display: grid;
  overflow: auto;
  grid-gap: 10px;
  grid-template-columns: 1fr;
  max-height: 100%;
}

.small {
  max-height: calc(100% - 36px) !important;
}

/* Hide scrollbar for Chrome, Safari and Opera */
#container::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
#container {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
