#container {
  gap: 10px;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  /* background: rgb(184, 231, 184); */
  overflow: auto;
}

#item {
  display: flex;
  cursor: pointer;
  flex-direction: column;
  flex-shrink: 0;
  font-size: 14px;
  min-height: 30px;
  padding: 20px 10px;
  align-items: center;
  justify-content: center;
  border-radius: var(--border-radius);
  border: 1px solid var(--main-colour-light);
  
  background-color: white;
}
