#container {
  bottom: 0;
  width: 100%;
  height: calc(100% - 33px);
  position: absolute;
  display: flex;
  overflow: auto;
  flex-direction: column;
}

/* Hide scrollbar for Chrome, Safari and Opera */
#container::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
#container {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
