/* Nunito */

@font-face {
  font-family: "Nunito Light";
  src: url("../assets/fonts/nunito/Nunito-Light.ttf") format("truetype");
}

@font-face {
  font-family: "Nunito Regular";
  src: url("../assets/fonts/nunito/Nunito-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Nunito Medium";
  src: url("../assets/fonts/nunito/Nunito-Medium.ttf") format("truetype");
}

@font-face {
  font-family: "Nunito Bold";
  src: url("../assets/fonts/nunito/Nunito-Bold.ttf") format("truetype");
}

/* Nunito sans */

@font-face {
  font-family: "Nunito Sans Light";
  src: url("../assets/fonts/nunito-sans/NunitoSans-Light.ttf")
    format("truetype");
}

@font-face {
  font-family: "Nunito Sans Regular";
  src: url("../assets/fonts/nunito-sans/NunitoSans-Regular.ttf")
    format("truetype");
}

@font-face {
  font-family: "Nunito Sans Semi Bold";
  src: url("../assets/fonts/nunito-sans/NunitoSans-SemiBold.ttf")
    format("truetype");
}

@font-face {
  font-family: "Nunito Sans Bold";
  src: url("../assets/fonts/nunito-sans/NunitoSans-Bold.ttf") format("truetype");
}

html {
  font-size: 16px;
  scroll-behavior: smooth;
}

body {
  margin: 0;
  cursor: default;
  font-family: Nunito Regular;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

img,
svg {
  vertical-align: middle;
}

a {
  text-decoration: none;
  color: inherit;
}

input {
  border: none;
}

input:focus-visible {
  outline: none;
}

// BOOTSTRAP SPECIFIC OVERIDES
ul {
  list-style: none;
}

.list-group {
  margin-top: 0 !important;
}

.list-group-item:first-child {
  text-align: center;
}

:root {
  // GLOBAL VALUES
  --time: 400ms;
  --grey: #889596;
  --grey-2: #666666;
  --footer-grey: rgb(247, 248, 251);

  // box-shadow (x y blur spread)
  --modal: 0 0 5px 1px rgb(65 129 185 / 50%);
}

/* GLOBAL CLASSES */
.nun-sans {
  font-family: "Nunito Sans Regular";
}

.nun-sans-bold {
  font-family: "Nunito Sans Bold";
}