/* Nunito */

@font-face {
  font-family: "Nunito Light";
  src: url("../assets/fonts/nunito/Nunito-Light.ttf") format("truetype");
}

@font-face {
  font-family: "Nunito Regular";
  src: url("../assets/fonts/nunito/Nunito-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Nunito Medium";
  src: url("../assets/fonts/nunito/Nunito-Medium.ttf") format("truetype");
}

@font-face {
  font-family: "Nunito Bold";
  src: url("../assets/fonts/nunito/Nunito-Bold.ttf") format("truetype");
}

/* Nunito sans */

@font-face {
  font-family: "Nunito Sans Light";
  src: url("../assets/fonts/nunito-sans/NunitoSans-Light.ttf")
    format("truetype");
}

@font-face {
  font-family: "Nunito Sans Regular";
  src: url("../assets/fonts/nunito-sans/NunitoSans-Regular.ttf")
    format("truetype");
}

@font-face {
  font-family: "Nunito Sans Semi Bold";
  src: url("../assets/fonts/nunito-sans/NunitoSans-SemiBold.ttf")
    format("truetype");
}

@font-face {
  font-family: "Nunito Sans Bold";
  src: url("../assets/fonts/nunito-sans/NunitoSans-Bold.ttf") format("truetype");
}

html {
  font-size: 16px;
}

body {
  margin: 0;
  cursor: default;
  font-family: Nunito Regular;
  color: var(--dark);
  background-color: var(--dark);
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

img,
svg {
  vertical-align: middle;
}

a {
  text-decoration: none;
  color: inherit;
}

:root {
  // bootstrap colours
  --primary: #1d9ae2; //#07689F;
  --secondary: #c9d6df;
  --success: #91d101; //#13d3bc;
  --danger: #dd0922;
  --warning: #fa6619;

  --light: #effbff;
  --dark: #003049;

  --grey: #505971;
  --background-grey: rgb(247, 248, 251);
  --icon-grey: rgb(106, 125, 140);

  --text-colour: #666;
  --border-colour: #d5d9d9;

  --border-radius: 4px;
  --border-radius-large: 8px;
  --time: 400ms;

  // box-shadow (x y blur spread)
  --modal: 0 0 5px 1px rgb(65 129 185 / 50%);
  --nav-component-item: 0px 2px 2px rgb(207 211 231);
  --nav-component-item-hover: 5px 5px 5px rgb(159 164 194 / 60%);
}

// BOOTSTRAP //////////////////////////////////////////////////////////////////

$min-contrast-ratio: 0;

// set colours
$primary: #1d9ae2;
$secondary: #c9d6df;
$success: #91d101; //#49670e;
$danger: #dd0922;
$warning: #fa6619;

$info: #a2d5f2;

$dark: #003049;

$light: #effbff;

// set border radius
$border-radius: 4px;

// badge
$badge-font-size: 1em;

// breadcrumbs
$breadcrumb-font-size: 0.8rem;

// buttons
// $btn-padding-x: 0.65em;
// $btn-padding-y: 0.35em;
$btn-link-color: white;
$btn-font-family: Nunito Sans Regular;
$btn-font-size: 0.9rem;


// button close
$btn-close-padding-x: 1em;
$btn-close-padding-y: 1em;

@import "../node_modules/bootstrap/scss/functions";
@import "../node_modules/bootstrap/scss/variables";
@import "../node_modules/bootstrap/scss/mixins";
@import "../node_modules/bootstrap/scss/utilities";

@import "../node_modules/bootstrap/scss/root";

@import "../node_modules/bootstrap/scss/grid";
@import "../node_modules/bootstrap/scss/containers";
@import "../node_modules/bootstrap/scss/spinners";
@import "../node_modules/bootstrap/scss/breadcrumb";
@import "../node_modules/bootstrap/scss/buttons";
@import "../node_modules/bootstrap/scss/close";
@import "../node_modules/bootstrap/scss/badge";
@import "../node_modules/bootstrap/scss/forms";

// Utilities
@import "../node_modules/bootstrap/scss/utilities/api";
